{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="286px" height="180px;">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% endfor %}
    </div>
</div>
{% endblock %}
<!--{% for i in movie_list %}-->
<!--<img src="{{i.img.url}}" width="100" height="100">-->
<!--<a href="{% url 'movieapp:detail' i.id %}">{{i.name}}<br>-->
<!--{{i.id}}...{{i.name}}-->
<!--    <p class="card-text">{{i.desc}}</p>-->
<!--{% endfor %}-->
